.close-link {
  cursor: pointer;
}

#close_first_time_message, #close_upgrade_message {
  float: right;
}

#ft_message_title {
  font-size: 1.3em;
  font-family: system;
  color: blue;
  font-weight: bold;
}

#first_message_div,  #upgraded_first_message_div {
  border: 3px solid green;
  background: yellow;
  width: 700px !important;
  color: red;
  font-size: 14px;
  font-family: tahoma, verdana; 
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px;
  
}

.settings_page_wp-attention-boxes-attn-boxes-admin-menu .form-table th {
    width: 85px;
    padding-right: 1px;
}

.settings_page_wp-attention-boxes-attn-boxes-admin-menu .form-table th input[type="checkbox"] {
  margin-right: 8px;
}

.settings_page_wp-attention-boxes-attn-boxes-admin-menu table.disabled_text tr td input,
.settings_page_wp-attention-boxes-attn-boxes-admin-menu table.disabled_text tr th .name_input {
    color:gray;
}

.settings_page_wp-attention-boxes-attn-boxes-admin-menu .form-table tr:first-child th {
  background-color: blue;
  color: white;
}

#main_settings_section {
  
  width: 67%;
}



fieldset#first_time_defaults legend {
  font-size: 16px;
  color: #e12e11;
  
}

fieldset#first_time_defaults {
  border: 2px solid blue;
  margin: 15px;
  width: 660px;
  padding: 10px;
  text-align: center;
  
}

fieldset#first_time_defaults div {
  float: left;
  margin-left: 10px;
  border: 3px solid gray;
  background-color: #F5F5F5;
  padding: 10px;
  text-align: center;
  height: 100px;
  
}

fieldset#first_time_defaults div span {
  color: blue;
  font-weight: bold;
  font-size: 13px;
}

#existing_user, #new_user {
  color: yellow;
}

div#preview_box_container {
  padding: 5px;
  float:left;
  height: 240px;
  width: 300px;
  
 }


#preview_box_container .preview_box_div {
  width: 410px;
  height: 70px;
  position: fixed;
  display: none;
  top: 20px;
  left: 700px;
  margin: 10px auto;
  padding: 4px 4px 4px 6px;
}

.close-link {
  position: absolute;
  top: 60px;
  left: 380px;
}

.settings_page_wp-attention-boxes-attn-boxes-admin-menu .form-table {
  border-collapse: collapse;
}

.settings_page_wp-attention-boxes-attn-boxes-admin-menu .form-table input,
.settings_page_wp-attention-boxes-attn-boxes-admin-menu .form-table th {
  line-height: .9em;
}



.settings_page_wp-attention-boxes-attn-boxes-admin-menu .form-table .border_color {
  width: 100px;
}

.settings_page_wp-attention-boxes-attn-boxes-admin-menu .form-table .border_style {
  width: 120px;
}

