
#first_message_div {
  border: 3px solid green;
  background: yellow;
  width: 700px !important;
  color: red;
  font-size: 14px;
  font-family: tahoma, verdana; 
  
}

.form-table th {
    width: 35px;
    padding-right: 1px;
}

.form-table th input[type="checkbox"] {
  margin-right: 8px;
}

table.disabled_text tr td input,
table.disabled_text tr th .name_input {
    color:gray;
}

.form-table tr:first-child th {
  background-color: blue;
  color: white;
}

#main_settings_section {
  /*float: left;*/
  width: 67%;
}

fieldset#first_time_defaults {
  border: 2px solid blue;
  margin: 5px;
  width: 250px;
  padding: 10px;
}

div#preview_box_container {
  padding: 5px;
  float:left;
  height: 240px;
  width: 300px;
  
 }


#preview_box_container .preview_box_div {
  width: 410px;
  height: 70px;
  position: fixed;
  display: none;
  top: 20px;
  left: 700px;
}


.form-table {
  border-collapse: collapse;
}

.form-table input,
.form-table th {
  line-height: .9em;
}

/*.form-table td,
.form-table th {
  margin-bottom: 9px;
  padding: 0 2px;
  line-height: 10px;
  font-size: 1px;
}*/

.border_color {
  width: 100px;
}

.border_style {
  width: 120px;
}