.outer_div_post_page {
     text-align: left; 
     padding: 5px; 
     margin: 5px;
     overflow-x: auto;
     white-space: nowrap;
     height: 65px;
     
 }

div.outer_div_post_page div   {
  
  float: left;
  text-align: center;
  width: 100px;
  padding: 10px;
  margin: 7px;
}