
.meta_box_size {
  cursor: pointer;
}

.custom_attn_box {
   margin: 10px auto;
   width: 70%;
   padding-left: 6px;
   padding-right: 4px;
   padding-top: 4px;
   padding-bottom: 4px;
   text-align: center;
}

